In [1]:
import pandas as pd

In [2]:
df_amazon = pd.read_csv(r"C:\Andrés\Sistemas 7to semestre\Computación y estructuras discretas III\sentiment labelled sentences\amazon_cells_labelled.txt",sep="\t",header=None,names=['sentence','target'])

In [3]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  1000 non-null   object
 1   target    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [4]:
df_imbd = pd.read_csv(r"C:\Andrés\Sistemas 7to semestre\Computación y estructuras discretas III\sentiment labelled sentences\imdb_labelled.txt",sep="\t",header=None,names=['sentence','target'])

In [5]:
df_imbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  748 non-null    object
 1   target    748 non-null    int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [6]:
df_yelp = pd.read_csv(r"C:\Andrés\Sistemas 7to semestre\Computación y estructuras discretas III\sentiment labelled sentences\yelp_labelled.txt",sep="\t",header=None,names=['sentence','target'])

In [7]:
df_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  1000 non-null   object
 1   target    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [9]:
df_sub1 = df_amazon.append(df_imbd,ignore_index=True)
df= df_sub1.append(df_yelp,ignore_index=True)

C:\Users\Andrés Arango\AppData\Local\Temp\ipykernel_19072\3129624304.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_sub1 = df_amazon.append(df_imbd,ignore_index=True)
C:\Users\Andrés Arango\AppData\Local\Temp\ipykernel_19072\3129624304.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df= df_sub1.append(df_yelp,ignore_index=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748 entries, 0 to 2747
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  2748 non-null   object
 1   target    2748 non-null   int64
dtypes: int64(1), object(1)
memory usage: 43.1+ KB

In [11]:
df.head()

                                            sentence  target
0  So there is no way for me to plug it in here i...       0
1                        Good case, Excellent value.       1
2                             Great for the jawbone.       1
3  Tied to charger for conversations lasting more...       0
4                                  The mic is great.       1